
.Toastify__toast {
  border-radius: 10px;
  padding: 16px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.Toastify__toast-body {
  display: flex;
  align-items: center;
}

.Toastify__toast--error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.Toastify__toast--success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.Toastify__close-button {
  color: #721c24;
  margin-left: 10px;
}

.Toastify__progress-bar {
  background-color: #721c24;
}

.Toastify__progress-bar--success {
  background-color: #155724;
}

.Toastify__toast-container {
  margin-top: 80px;
}


.Toastify__toast-icon {
  margin-right: 10px;
}
